<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <main>
        <% theResult.forEach((data)=>{ %>
            <section>
                <h3>TASK: <span><%=data.title%></span></h3>
                <p>Completion Status: <%=data.status%></p>
                <button><a href="/tasks/<%=data.id%>">View Details</a></button>
            </section>
        <% }) %>
    </main>
</body>
</html>