<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="/show" method="post">
            <label>
                <span>Search Digimon: </span>
                <input type="text" name="theSearch">
            </label>
            <label>
                <span>Name </span>
                <input type="radio" value="name" name="searchBy">
            </label>
            <label>
                <span>Level </span>
                <input type="radio" value="level" name="searchBy">
            </label>
            <button>Search</button>
        </form>
    </main>
</body>
</html>