<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <main>
        <form action="/show" method="post">
            <label>Search Zodic: 
                <input type="text" name="theSearch">
            </label>
            <button>Search</button>
        </form>
    </main>
</body>
</html>